body{
  padding: 0px;
  margin: 0px;
  background-color: #D9D9D9;
}
.btn{
  padding: 7px;
  margin-left: 10px;
  background-color: #2f7b94;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;

}
.btn:hover{
  background-color: #63b0ca;
  transition: 0.5s;

}


.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
nav{
  background-color:#2f7b94;
  height: 66px;
} 
nav * {
  color: white;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

nav .logo{
  float: left;
  
}
nav ul{
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;


}
nav ul li {
  float: left;
  position: relative;
}



nav ul li a {
  float: left;
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #4490aa;
  transition: 0.5s;
}


nav ul li{
  float: left;
  position: relative;
}
nav ul li ul{
  position: absolute;
  top: 66px;
  right:0px;
  width:130px;
  display: none;

}
nav ul li:hover ul{
  display: block;
}

nav ul li ul li a{
  padding: 21px;
  background: #2f7b94;
  color:white;
}
nav ul li ul li a:hover{
  background-color:#63b0ca
}
.content{
  width:90%;
  margin: 0.5px auto 30px;
  height: 60px;


}
.content .main-content{
  width: 100%;
  float: left;
  height: 310px;


}
.content .main-content .recent-post-title{
  margin-left: 36px;
  color: #302f2f

}

.content .main-content .post{
  width: 95%;
  height:210px;
  margin : 10px auto;
  border-radius:10px;
  background: white;
  
}
.content .main-content .post .content-title{
  font-size: 24px;
  margin-left:10px;
  margin-bottom: 10px;
  padding-top: 20px;
  color: #2f7b94;
}
.content .main-content .post .user{
  font-size: 16px;
  color: #2f7b94;
  margin-left: 10px;
  margin-top: 10px;
}
.content .main-content .post .post-date{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
  color:#000000 ;
}
.content .main-content .post .content-info{
  margin-left: 10px ;
  margin-top: 10px;
  margin-bottom: 24px;

}
