h1 {
    color : rgb(54, 60, 17);
    font-size: 60px;
}

body {
    background: #aaa8a8;
}

#demo{
    font-size: 40px;
    color : rgb(172, 196, 16);
    background-image : url('https://www.w3schools.com/w3images/lights.jpg');
}