{%extends 'base.html'%}
{% block content %}
<center>

{% for message in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Hey!</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %} 
    



<div class="alert alert-primary" role="alert">

    <h1>Admin Console</h1>


</div>

<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        
        <div class="card" style="width: 25rem; height: 32rem;">
            <img src="{{url_for('static',filename='images/feedback_image.png')}}" ><br><br>
            <div class="card-body">
              <center>
                <p> Access List of Users of this Website!</p>
            <br>
                <a href="{{url_for('users_list')}}" class="btn btn-success">Users List</a>
            </div>
          </div>

      </div>
      <div class="col">
        
        <div class="card" style="width: 25rem;height: 32rem;">
            <img src="{{url_for('static',filename='images/feedback_image.png')}}"><br><br>
            <div class="card-body">
              <center>
                <p> Access List of Feedbacks of this Website get !</p>
                <br>
                <a href="{{url_for('feedbacks')}}" class="btn btn-success">Feedbacks</a>
            </div>
          </div>

      </div>
      <div class="col">
        
        <div class="card" style="width: 25rem;height: 32rem;">
          <img src="{{url_for('static',filename='images/feedback_image.png')}}"><br><br>
          <div class="card-body">
            <center>
              <p> Access Blog Posts of this Website !</p>
              <br>
              <a href="{{url_for('blogposts', page= 1000)}}" class="btn btn-success">Blog Posts</a>
          </div>
        </div>
      </div>
    </div>
  </div>








<br/></br>




{% endblock %}