{%extends 'base.html'%}
{% block content %}

<center>  
<strong><font size="25" style = "font-family: Arial, sans-serif" >Blog Posts</font></strong> <br><br> <a href="{{url_for('postform')}}" class = "btn btn-outline-secondary btn-sm">Add Post</a></center>  
<br>
{% for post_item in post_items [0:3] %}
    <div class="shadow p-3 mb-5 bg-body">
        
      
        <h4><strong>{{post_item.title}}</strong></h4> 
        <h6>by {{post_item.poster.name}}</h6><br>
        <h6>{{post_item.poster.date_added}}</h6><br>
        <br>{{post_item.content[0:100] | safe }} <strong>...</strong>
        <br><br> <a href="{{url_for('showPost',id = post_item.id)}}" class = "btn btn-outline-secondary btn-sm">View Post</a>
   
    </div>
    
{% endfor %}  

    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="{{url_for('blogposts',page = 1)}}">1</a></li>
      <li class="page-item"><a class="page-link" href="{{url_for('blogposts',page = 2)}}">2</a></li>
      <li class="page-item"><a class="page-link" href="{{url_for('blogposts',page = 3)}}">3</a></li>
    </ul>


{% endblock %}



