{%extends 'base.html'%}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Hey!</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<center>
<h1>Dashboard</h1>
<br></br>

</center>
<center>
<div class="card" style="width: 18rem;">
  {% if user.profile_pic %}
    <img src="{{url_for('static',filename='images/'+user.profile_pic)}}" ><br>
  {% else %}
    <img src="{{url_for('static',filename='images/img.jpg')}}" ><br>
  {%endif%}
  <div class="card-body">
    <center>
    <h5 class="card-title">Your Info !</h5></center>
    <p class="card-text">
      <strong>Name :</strong> {{user.name}}<br>
      <strong>Username :</strong> {{user.username}}<br>
      <strong>User ID :</strong> {{user.id}}<br>
      <strong>Email : </strong> {{user.email}} <br>
      <strong>Favorite Color: </strong> {{user.fav_color}}<br>
      <strong>Date Joined :</strong> {{user.date_added}}
    </p>
    <a href="{{url_for('update' , id= user.id)}}" class="btn btn-success">Edit Your Profile</a>
  </div>
</div>
<br><br>
{% if posts != None %}
 
  <strong><font size="25" style = "font-family: Arial, sans-serif" >My Posts:</font></strong></center>  
  <br>
  {% for post_item in posts %}
      <div class="shadow p-3 mb-5 bg-body">
          
        
          <h4><strong>{{post_item.title}}</strong></h4> 
          <h6>by {{post_item.poster.name}}</h6><br>
          <h6>{{post_item.poster.date_added}}</h6><br>
          <br>{{post_item.content[0:100] | safe }} <strong>...</strong>
          <br><br> <a href="{{url_for('showPost',id = post_item.id)}}" class = "btn btn-outline-secondary btn-sm">View Post</a>
     
      </div>
      
  {% endfor %}  
{%else%}  
  <strong><font size="25" style = "font-family: Arial, sans-serif" >My Posts:</font></strong></center>  
  <br>
  <h4><strong>You have no post yet.</strong></h4> 
{%endif%}

<br><br><br><br>
<center> 
<a href="{{url_for('logout')}}" class="btn btn-outline-danger">Log out</a>
  
{% endblock %}
