{%extends 'base.html'%}
{% block content %}

<table class="table caption-top"> 
    <caption><strong><font size="25" style = "font-family: Arial, sans-serif" >List of short feedbacks</font></strong></caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Short Feedback</th>
      </tr>
    </thead>
    {% for our_user in our_users %}
    <tbody>
      <tr> 
        <td>{{our_user.name}}</td>
        <td>{{our_user.feedback}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

  {% endblock %}