{%extends 'base.html'%}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Hey!</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<center>

{% if name == None  %}
<div class="shadow-lg p-3 m-5 bg-body rounded">  
    <h1>What is Your Name ?</h1>
    <br/>
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control")}}
    </br>
        {{form.hidden_tag()}}
        {{form.feedback.label(class="form-label")}}
        {{form.feedback(class="form-control")}}
    </br>    
        {{form.submit(class="btn btn-secondary")}}
    </form></div>
    <br><br><br><br><br><br><br><br><br>
    

{% else %}
   
    <h1>Hello {{name}}</h1>
    <br/>
    <img src="{{url_for('static',filename='images/img.jpg')}}" width=600>
    <br></br>
    <p id="demo">This is stuff ... </p>
    <script src="{{url_for('static',filename='js/myfile.js')}}"></script>
    
  
    
{% endif %}
  
{% endblock %}

