<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MEF BLOG</title>
  <link href="{{url_for('static', filename='css/blogposts.css')}}" rel="stylesheet"/>
</head>
<body>
  <nav>
    <div class="logo">
    <a href="{{url_for('index')}}">
      <img class="logo" src="{{url_for('static', filename='images/logo.jpeg')}}" width = "66px" height="66px " alt="logo"></a>
    </div>
    <ul class="nav">
      <li><a href="{{url_for('index')}}">Home</a></li>
      <li><a href="{{url_for('blogposts',page=1)}}">BlogPosts</a></li>
      <li><a href="{{url_for('name')}}">Give Feedback</a></li>
      {% if not current_user.is_authenticated %}
      <li><a href="{{url_for('user_add')}}">Sign Up</a></li>
      {%else%}
      {%endif%}
      {% if current_user.id == admin_id %}
        <li><a href="{{url_for('admin')}}">Admin Page</a></li>
        {%else%}
        {%endif%}
      {% if current_user.is_authenticated %}
      <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
      <li><a href="{{url_for('logout')}}">Logout</a></li>
      {%else%}
      <li><a href="{{url_for('login')}}">Log In</a></li>
      {%endif%}
      
    </ul>
  </nav>

  

</body>
</html>