{%extends 'base.html'%}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Hey!</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<center>  
<strong><font size="25" style = "font-family: Arial, sans-serif" >Blog Posts List :</font></strong></center>  
<br>
    <div class="shadow p-3 mb-5 bg-body">
        
    
        <h4><strong>{{post.title}}</strong></h4> 
        <h12>by {{post.poster.name}}</h12><br>
        <h20>{{post.poster.date_added}}</h20><br>
        <br><br>{{post.content | safe }} 
        <br><br>
        {% if current_user.id == post.poster.id %}
        <a href="{{url_for('update_blogpost',id = post.id)}}" class = "btn btn-outline-success">Update Post</a>
        {% else %}
        {% endif%}    
    </div>
    <a href="{{url_for('blogposts')}}" class="btn btn-secondary ">Back to blogposts</a>


{% endblock %}