{%extends 'base.html'%}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Hey!</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<center>  
<strong><font size="25" style = "font-family: Arial, sans-serif" ><strong>{{post.title}}</strong> </font></strong>
<br>by {{post.poster.name}}<br>{{post.poster.date_added}}<br></center>  
<br>
    <div class="shadow p-3 mb-5 bg-body">
        
    {{post.content | safe }} 
    <br><br><br><br><br><br><br>
            
    </div>
    {% if current_user.id == post.poster_id or current_user.id == admin_id %}
        <a href="{{url_for('update_blogpost',id = post.id)}}" class = "btn btn-success">Update Post</a>
        {% else %}
        {% endif%}
    <a href="{{url_for('blogposts',page=1)}}" class="btn btn-secondary ">Back to blogposts</a>


{% endblock %}