{%extends 'base.html'%}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>That is a</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<title>Sadbülhamit</title>

<br/>
<center>
    <h1><strong>We know that all the time on tiktok or instagram you see this face: </strong>
        <br/></br>
        <img src="https://c.tenor.com/Imi6Z5wolYgAAAAd/abdulham-edit.gif" width="400" 
        height="500" class="img-fluid" alt="Sad Abdülhamit from The series : Payitaht Abdülhamit in TRT1">
        <br/></br>
        <audio  autoplay>
            <source src="{{url_for('static',filename='voices/voice.mp3')}}" type="audio/mpeg" />
            This text displays if the audio tag isn't supported.
        </audio>
    <h1><strong>But have you ever wondered where is that come from? </strong>
        <h2><strong>Yes, we didn't either and still same</strong>    

{% endblock %}